@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

$custom-colors: (
  "primary": $purple
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

body {
  background-color: #f3f5f7;
}

.App {
  padding: $spacer * 0.5;

  .btn.disabled {
    opacity: 0.25;
  }

  .room-list, .help-desk {
    h4 {
      margin-bottom: $spacer * 0.25;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-down(md) {
    .room-info {
      flex-grow: 1;
      max-width: 300px;
    }

    .help-desk .room-info {
      max-width: none;
    }

    .room-participants {
      flex-grow: 1;

      p {
        text-align: right;
      }
    }

    .room-link {
      margin-top: $spacer;
      width: 100%;

      .btn {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .room-info {
      min-width: 300px;
    }

    .room-participants {
      flex-grow: 1;
    }
  }
}
