@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:400,400italic,700,700italic%7CBebas+Neue:400,400italic,700,700italic%7CBebas+Neue:400,400italic,700,700italic%7CMontserrat:300,300italic,700,700italic");
$body-color: #505050;
$font-family-base: "Montserrat", sans-serif;
$font-weight-base: 300;
$headings-color: #836aba;
$headings-font-family: "Bebas Neue", sans-serif;
$headings-font-weight: 400;
$btn-padding-x: 2rem;
$btn-disabled-opacity: 0.25;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

$custom-colors: (
  "primary": #836aba
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

body {
  background-color: #f3f5f7;
}

.App {
  padding: $spacer * 0.5;

  h1 {
    text-align: center;
  }

  .btn {
    text-transform: uppercase;

    &.btn-primary {
      color: $white;
    }

    &.btn-outline-primary:active,
    &.btn-outline-primary:hover {
      color: $white;
    }
  }

  .room-info p {
    font-size: 0.85rem;
  }

  .room-list, .help-desk {
    h4 {
      margin-bottom: $spacer * 0.25;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .last-update {
    font-size: 0.65rem;
  }

  @include media-breakpoint-down(md) {
    .room-info {
      flex-grow: 1;
      max-width: 250px;
    }

    .help-desk .room-info {
      max-width: none;
    }

    .room-participants {
      flex-grow: 1;

      p {
        text-align: right;
      }
    }

    .room-link {
      margin-top: $spacer;
      width: 100%;

      .btn {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .room-info {
      min-width: 250px;
    }

    .room-participants {
      flex-grow: 1;
    }
  }
}
